<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Giving Goods</name>
    <description>
        An App that helps people donate
    </description>
    <author email="neil.hegde@berkeley.edu">
        Neil, Mari, Oren, Stephanie - App Attack, CS 160 fall 2013, UC Berkeley, 
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
</widget>
