body {
	background-color: #ecf0f1;
}

.navbar {
	font-size: 25px;
	margin-bottom: 0px;
	text-align: center;
}
.form-group, .btn, .btn-group {
	margin-bottom: 0px;
}
select {
	color: #FFF;
}
#datepick {
	color: #bdc3c7;
	padding: 0 0;
}

.dropdown-menu {
	margin-top: 3px !important;
}
.btn {
	margin: 0px !important;
}
.navbar-default {
	border-radius: 0px !important;
	background: #27ae60;
}

.container {
	width: auto !important;
	padding: 0px !important;
}


.navbar .fa-home {
	font-size: 25px;
	padding: 15px 9px;
	color: #ecf0f1;
	float: left;
}

.navbar .fa-inbox {
	font-size: 25px;
	padding: 15px 9px;
	color: #ecf0f1;
	float: right;
}

.navbar .navbar-brand {
	padding: 15px 5px;
	font-size: 14px;
	padding-bottom: 0px;
	color: #ecf0f1;
	float: none;
	font-weight: bolder;
}

.navbar .nav {
	float: none;
}.center {
	text-align: center;
	display: inline-block;
	vertical-align: middle;
}
#calButton {
	display: inline-block;
	margin-top: 0;
	margin-right: -2px;
}
#datepicker-01 {
	display: inline-block;
	padding-left: 5px;
}
label {
	font-size: 10pt;
	margin: 0 0;
}
.col-xs-6, .col-xs-7, .col-xs-5{
	padding: 1px 1px;
}
input {

}
label.center {
	margin-top: 8px;
}
.row {
	padding-right: 2px;
	padding-left:  2px;
	margin-right: 2px;
	margin-left: 2px;
}
.dialog {
	margin-right: 2px;
	padding: 0 0;
	border-top: 0px !important;
}
.ui-datepicker:before {
	border-style: none;
	position: fixed !important;
	left: 0 !important;
}
.btn-primary {
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #2ecc71;
}

.donateButRow {
	margin: 0px;
	padding: 0px;
	position: fixed;
	bottom: 0;
	width: 100%;
}

#donateBut {
	border-radius: 0px;
	font-weight: bolder;
	font-size: 25px;
}

.ui-datepicker {
	border: 7px solid #27ae60;
	margin-left: auto;
}

.ui-datepicker .ui-datepicker-next {
	border-left: 2px solid #27ae60;
}
.ui-datepicker .ui-datepicker-header{
	background-color: #27ae60;
}

.ui-datepicker .ui-datepicker-prev {
	border-right: 2px solid #27ae60;
}



textarea.form-control {
	height: 125px;
}

input, textarea {
	font-size: 10pt;
}

.checkbox .icons .first-icon, .radio .icons .first-icon, .checkbox .icons .second-icon, .radio .icons .second-icon {
	background-color: transparent;
}

.checkbox.checked .second-icon{
	color: #27ae60;
}

.checkbox.checked {
	color: #34495e;
}

.checkbox.disabled, .radio.disabled {
	color: #bdc3c7;
}

.form-group.focus .form-control, .form-control:focus {
	border-color: #27ae60;
}

.input-group .input-group-btn:first-child .btn:focus{
	border-color: #27ae60;
}

#itemsNeeded {
	height: 100px;
}

#addReqTitle {
	font-size: 20px;
}

.alert {
	position: fixed;
	top: 30%;
	left: 50%;
	margin-left: -150px;
	width: 300px;
	text-align: center;
	display: none;
	border: 2px solid #27ae60;
	background: white;
}

.confirmDonationBut {
	width: 235px;
	margin: 0 auto;	
}

.pad {
	height: 100px;
}

.addReqLastRow {
	height: 250px;
}